.dropdown-div-converter .dropdown-button {
    display: block;
}

.dropdown-div-converter .dropdown-button .caret {
    margin-left:5px;
}

.dropdown-div-converter button + .dropdown-button .caret {
    margin-left:0;   
}

.dropdown-div-converter .dropdown-menu {
    display: none;
    padding: 5px;
}

.dropdown-div-converter.open .dropdown-menu {
    display: block;   
}

.dropdown-div-converter button .glyphicon {
    margin-right: 0.8em;
}

/* for bootstrap versions below 3.1 */
.dropdown-div-converter .dropdown-menu-right {
  right: 0;
  left: auto;
}